<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>Formulário de cadastro de Notícia</title>
		</head>
	<body>

		<% if(validacao){ %>
			<ul>
				<% for(var i = 0; i < validacao.length; i++){ %>
					<li>
						<%= validacao[i].msg %>
					</li>
				<% } %>
			</ul>
		<% } %>

		<h1>Adicionar Notícia</h1><br>
		<form action="/admin/save" method="post">
			<label>Título da Notícia</label><br>
			<input type="text" name="titulo" placeholder="Título da Notícia"><br>
				<label>Resumo da Notícia</label><br>
				<input type="text" name="resumo" placeholder="Resumo da Notícia"><br>
				<label>Autor da Notícia</label><br>
				<input type="text" name="autor" placeholder="Autor da Notícia"><br>
				<label>Data da Notícia</label><br>
				<input type="date" name="data_noticia" placeholder="Data da Notícia"><br>
			<label>Notícia</label><br>
			<textarea id="newsBody" name="noticia" rows="8" cols="80"></textarea><br>
			<button type="submit">Postar Notícia</button>
		</form>
	</body>
</html>
